main {
  width: 100%;
  min-height: 100vh;
  display: flex;
 
  
  

  /* FIXED BACKGROUND */
  background: url("/images/loginspace.png") no-repeat center;
  background-size: cover;
 .left{
   height: 100vh;
   width: 80%;
   border-radius: 5rem ;
   
  
      .form-image{
          padding: 2rem 0 2rem 2rem;
          height: 100%;
           width: 100%;
          position: relative;
          border-radius: 5rem ;
          
        
          object-fit: cover;
  
  }}


  .form-container {
    height: 60%;
    max-height: 500px;
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 10rem;
    right: 0rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-radius: 30px 0px 0px 30px;

    padding: 1rem 5rem;

    /* GLASS EFFECT 🔥 */
    background: rgba(2, 1, 1, 0.632);
    backdrop-filter: blur(12px);

    border: 1px solid rgba(231, 20, 20, 0.2);
    
    box-shadow: -5px 10px 40px 10px rgb(255, 128, 0);
    

     h1 {
       text-align: center;
       font-size: 2.5rem;
       font-weight: 600;
       color: white;
    }

     form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input {
        height: 45px;
        padding: 0 12px;

        border-radius: 8px;
        border: none;

        background: rgba(255, 255, 255, 0.15);
        color: white;

        font-size: 0.9rem;

        outline: none;

        &::placeholder {
          color: #ddd;
        }

        &:focus {
          background: rgba(206, 170, 170, 0.25);
        }
      }

      button {
        margin-top: 0.8rem;
        height: 40px;

        border-radius: 8px;
        border: none;

        background: linear-gradient(135deg, #6366f1, #8b5cf6);
        color: white;
        font-weight: 500;

        cursor: pointer;
        transition: 0.3s;

        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 5px 15px rgba(36, 39, 244, 0.5);
        }
      }
    }

    p {
      text-align: center;
      font-size: 1rem;
      color: #ddd;
      padding-top: 3rem;

      a {
        color: #fff;
        font-weight: 500;
      }
    }
  }
}